/* 
------------------------------------
cas core styles
July 2010
patrick lynch
------------------------------------ */

/* COLOR REFERENCES
------------------------------------------------------------------------





/* CORE GLOBAL STYLES
======================================================================= */

body {
		background-color: #6699CC;
		color: #666;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin: 30px;
		padding: 5px;
		}


a:link {
		text-decoration: none;
		color: #2758b3;
		}
			
a:visited {
		text-decoration: none;
		color: #7f510e;
		}
			
a:active {
		text-decoration: none;
		/*color: #000099;*/
		}
			
a:hover {
		color: #ef2d00;
		text-decoration: underline;
		}
		
.hide	{
		display: none;
		}
		
.shadow {
  box-shadow: 5px 5px 5px #ccc;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
}




/* LAYOUT IDs
======================================================================= */

/* =Page container and Headers
------------------------------------------------------- */
	
#pagebox {
	background: #fff;
	border: 1px solid #0f4d92;
	box-shadow: 10px 10px 10px #4a7095;
  		-moz-box-shadow: 10px 10px 10px #4a7095;
  		-webkit-box-shadow: 10px 10px 20px #4a7095;
	margin: 0px auto;
	width: 790px;
	height: 491px;
	}
	
#headerBox {
	background: #0F4D92 url(graphics/header-bg.gif) repeat;
	border-bottom: 1px solid #0F4D92;
	border-left: 1px solid #97b2d0;
	border-right: 1px solid #97b2d0;
	border-top: 1px solid #97b2d0;
	clear: both;
	height: 82px;
	width: 788px;
	}

#titleGraphic {
	display: block;
	padding: 16px;
}

#content-left {
	background: #fff;
	border-right: 1px solid #0F4D92;
	clear: both;
	float: left;
	height: 377px;
	margin: 0px;
	padding: 15px;
	width: 530px;
	}
	
#content-right {
	background: #fafae8;
	border: 0px;
	float: right;
	height: 377px;
	margin: 0px;
	padding: 15px;
	width: 197px;
	}
	
#geotrust-badge {
	display: block;
	margin-top: 50px;
	}
	
#form-layout {
width: 540px;
}

	
/* FORM ELEMENTS
======================================================================= */
#login_form input {
	background: #f8f8f8;
	border: 2px solid  #aaa;
	color: #555;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 18px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 3px 4px;
	}
	
#login_form input.inputButton {
	cursor: pointer;
	background: #F5F091; 
	border: 1px solid  #aaa;
	color: #555;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	padding: 4px 20px 4px 20px;
	}

#login_form input.formInput {
float: left;
}
#login_form input.formInput:focus {
	border: 2px solid #6699CC;
}

.caps-status {
float: left;
width: 24px;
height: 24px;
margin: 2px 0 0 5px;
background: none;
}

.caps-on {
background: url(graphics/caps-lock-on.gif) no-repeat;
}


/* TYPOGRAPHY
======================================================================= */
h1.mobileTitle {
	display: none;
	}
	
#content-left h1 {
	color: #883F0A;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
	}
	
#content-left h2 {
	color: #883F0A;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 5px 0px 5px 0px;
	}

#content-left p.formLabel {
	color: #5F5F5F;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	margin: 6px 0px 0px 0px;
	text-align: right;
	}
	
#content-left p.sans {
	color: #5F5F5F;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.7em;
	margin: 5px 0px 5px 0px;
	}
	
#content-left p.sansURL {
	color: #4e6d98;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 11px;
	font-weight: normal;
	line-height: 1em;
	margin: 15px 0px 5px 0px;
	}
	



#content ul.plain, ul.plain a { 
	color: #1A3E6F; 
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	list-style: none;
	margin: .4em 0em .2em 0em;
	padding: 0em 0em 0em 0em;
	text-indent: 0em;
	}
	
#content ul.plain li, ul.plain li a {
	padding-bottom: 0.8em;
	}
	
#content ul.plain li.disabled {
	color: #bbb;
	}
	
	
#content ul.plain-serif, ul.plain-serif a { 
	color: #1A3E6F; 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 1.2em;
	list-style: none;
	margin: 30px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-indent: 0em;
	}
	
#content ul.plain-serif li, ul.plain-serif li a {
	padding-bottom: 0.8em;
	}
	
	
	
#content ol { 
	color: #5F5F5F;
	font-family: Verdana, Arial, Helvetica, sans;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.8em;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 0px;
	text-indent: 0em;
	}
	
#content ol li, ol li a {
	padding-bottom: 0.8em;
	}

	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	